<h1>This shows article details</h1>
<p><strong>Title:</strong><%= @article.title %></p>
<p><strong>Description:</strong><%= @article.description %></p>
<button>
    <%= link_to 'Edit', edit_article_path(@article) %>
</button>
<button>
    <%= link_to 'Delete', article_path(@article), method: :Delete, data: {confirm: "Are you sure?"} %>
</button>
<button>
    <%= link_to 'home', articles_path %>
</button>